/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

:root {
  --dark-grey: #1f1e1d;
  --light-grey: #262624;
  --orange: #d97757;
  --white: #ffffff;
  --black: #000000;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "tiempos", "tiempos Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: var(--dark-grey);
}

* {
  box-sizing: border-box;
}
